/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        escdelete: escdelete {
            compatible = "zmk,behavior-tap-dance";
            label = "ESCDELETE";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp DELETE>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <38 41>;
            bindings = <&mo 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
                // __________________________________________________________________________________________________________
                // |  TAB  |   Q   |   W   |   F   |   P   |   B   |        |   J   |   L   |   U   |   Y   |   ;    | BKSP |
                  &kp TAB  &kp Q   &kp W   &kp F   &kp P   &kp B            &kp J   &kp L   &kp U   &kp Y   &kp SEMI &kp BSPC
                // __________________________________________________________________________________________________________
                // |  CTRL |   A   |   R   |   S   |   T   |   G   |        |   M   |   N   |   E   |   I   |   O    | ENT  |
                 &kp LCTRL &kp A   &kp R   &kp S   &kp T   &kp G            &kp M   &kp N   &kp E   &kp I   &kp O    &kp ENTER
                // _________________________________-------__________________________-------_________________________________
                // |  SHFT |   Z   |   X   |   C   |   D   |   V   |        |   K   |   H   |   ,   |   .   |   /    | ESC  |
                 &kp LSHFT &kp Z   &kp X   &kp C   &kp D   &kp V            &kp K   &kp H  &kp COMMA  &kp DOT &kp FSLH &escdelete
                // 
                // __________________________________________________________________________________________________________
                //                   |   GUI   |    LWR    |    CTRL    |        |   SPC   |    RSE    |   ALT    |
                                    &kp LGUI   &mo 1       &kp LCTRL             &kp SPACE   &mo 2      &kp RALT 


            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
                // __________________________________________________________________________________________________________
                // |  TAB  |   !   |   @   |   #   |   $   |   %   |        | PG_UP   |   &   |   UP   |   (   |    )   | BKSP |
                &kp TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT      &kp PG_UP &kp AMPS &kp UP &kp LPAR &kp RPAR  &kp BSPC
                // __________________________________________________________________________________________________________
                // |  CTRL |   \   |       |       |   -   |   `   |        | PG_DN |  LFT  |  DWN   |  RGT  |      |   '  |
                 &kp LCTRL &kp BSLH &trans &trans &kp MINUS &kp GRAVE     &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT  &trans  &kp SINGLE_QUOTE
                // _________________________________-------__________________________-------_________________________________
                // |  SHFT |       |       |       |   _   |       |        |       |       |        |       |       | ESC  |
                 &kp LSHFT  &trans  &trans &trans &kp UNDER  &trans          &trans  &trans  &trans  &trans  &trans &kp ESC
                //
                // __________________________________________________________________________________________________________
                //                   |   GUI   |         |         |        |          |         |   ALT    |
                                    &kp LGUI      &trans     &trans       &trans      &trans     &kp RALT 
            >;
        };

        raise_layer {
            label = "Raise";
            bindings = <
                // __________________________________________________________________________________________________________
                // |  TAB  |   1   |   2   |   3   |   4   |   5   |        |   6   |   7   |   8   |   9   |   0    | BKSP |
                  &kp TAB  &kp N1  &kp N2  &kp N3  &kp N4   &kp N5           &kp N6 &kp N7  &kp N8  &kp N9  &kp N0  &kp BSPC
                // __________________________________________________________________________________________________________
                // |  CTRL |  F1   |  F2   |  F3   |  F4   |   F5  |        |       |   {   |   }   |       |        | ENT  |
                &kp LCTRL &kp F1  &kp F2  &kp F3  &kp F4   &kp F5       &kp EQUAL   &kp LBRC &kp RBRC &trans &trans &kp ENTER
                // _________________________________-------__________________________-------_________________________________
                // |  SHFT |  F6   |  F7   |  F8   |  F9   |  F10  |        |       |   [   |   ]   |       |        | ESC  |
                &kp LSHFT &kp F6  &kp F7  &kp F8  &kp F9  &kp F10           &trans  &kp LBKT &kp RBKT &trans &trans &kp ESC
                //
                // __________________________________________________________________________________________________________
                //                   |   F11   |   F12   |         |        |          |         |   ALT    |
                                    &kp  F11   &kp F12     &trans         &trans      &trans     &kp RALT 
            >;
        };
        extra_layer {
            label = "Extra";
            bindings = <
                // __________________________________________________________________________________________________________
                // | BT_CLR|       |       |       |BT_PRV | BT_NXT|        |       |       |       |       |        | BKSP |
                &bt BT_CLR  &trans  &trans  &trans &bt BT_PRV &bt BT_NXT     &trans  &trans  &trans  &trans  &trans   &kp BSPC
                // __________________________________________________________________________________________________________
                // |       |       |       |       |       |       |        |       |       |       |       |        | ENT  |
                    &trans  &trans  &trans  &trans  &trans  &trans           &trans  &trans  &trans  &trans  &trans  &kp ENTER
                // __________________________________________________________________________________________________________
                // |       |       |       |       |       |       |        |       |       |       |       |        | ENT  |
                    &trans  &trans  &trans  &trans  &trans  &trans           &trans  &trans  &trans  &trans  &trans   &kp ENTER
                //
                // __________________________________________________________________________________________________________
                //                   |         |         |         |        |          |         |          |
                                      &trans     &trans     &trans           &trans      &trans     &trans 
            >;
        }
    };
};
